body {
    background: pink;
}

img {
    max-width: 100%;
}

.container {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    padding: 40px 0;
}

.card {
    background: #fff;
    border-radius: 6px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: column;
    transition: box-shadow .2s ease-in-out;
}

.card__picture {
    display: block;
    width: 100%;
    height: auto;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.card-infos {
    padding: 20px;
    background: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.card__title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
    margin: 0 0 10px;
}

.card__text {
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0;
    color: #86888A;
}

.card__text--high {
    font-weight: 600;
}

.header {
    background: var(--main-bg-color);
    height: 160px;
    display: flex;
}

.header__title {
    margin: auto;
    font-weight: 300;
    font-size: 3.2rem;
    color: #fff;
}

.header__title--high {
    font-weight: 600;
}

.sortable__nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.nav__link {
    padding: 0 20px 4px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 300;
    display: block;
    border-bottom: 2px solid transparent;
}

.nav__link.is-active {
    border-color: var(--main-bg-color);
}

.footer__list.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list__item.item {
    display: flex;
}

.item__link.link {
    margin: 0;
}

.item__link.link:not(:first-child) {
    margin-left: 20px;
}

.link__icon {
    height: 2rem;
    width: 2rem;
}

/* 定义列表样式结束 */

/* 瀑布流主要css样式必要开始 */
.sjs-default {
    position: relative;
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: height .2s ease-out, opacity .2s ease-out .2s
}

[data-sjsel] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: -webkit-transform .2s ease-out;
    transition: transform .2s ease-out;
    transition: transform .2s ease-out, -webkit-transform .2s ease-out
}